html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    background-color: #F5EBE0;
}

.navbar {
    font-weight: 600;
    height: 90px;
    min-height: 90px;
    width: 100%;
    background-color: #D5BDAF;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
}

.nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #333333;
    transition: color .5s ease;
    font-size: 18px;
}

.nav-link i {
    margin-right: 8px;
}

.nav-navigation {
    width: 85%;
    height: 100%;
    gap: 30px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 0;
    flex: 1;
    margin-left: 40px;
}


.nav-link:hover {
    color: #EDEDE9;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar-brand {
    height: 100%;
    width: 100%;
    flex: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    margin-left: 10px;
    font-size: 25px;
    color: #333333;
    transition: color .5s ease;
    font-weight: 700;
    text-decoration: none;
}

.navbar-brand:hover {
    color: #EDEDE9;
}

.navbar-brand img {
    height: 40px;
    min-width: 20px;
}

.navigation-item:last-child {
    margin-left: auto;
    margin-right: 10px;
}

.dropdown {
    list-style: none;
    padding: 0;
}

.dropdown li {
    display: inline-block;
    position: relative;
}

.dropdown li a {
    display: block;
    padding: 20px 25px;
    color: #333333;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown {
    width: 150px;
    background: whitesmoke;
    position: absolute;
    z-index: 999;
    display: none;
    right: 0;
    left: auto;
}

.dropdown li a:hover {
    background: #EDEDE9;
}

ul li:hover ul.dropdown {
    display: block;
}

.user-info {
    position: relative;
    display: flex;
    flex-direction: row;
}

.dropdown-arrow {
    text-decoration: none;
    color: #333333;
}

.dropdown-item p {
    margin: 0;
}

.main-container {
    flex: 1;   
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistics {
    display: grid;
    width: 85%;
    height: 100%;
    grid-template-columns: 1fr 2fr; 
    grid-auto-rows: min-content;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    gap: 30px;
}

.statistics-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.3);
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 15px;
}
